@use './variables' as *;

@mixin boundary-reset {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
};

@mixin font-stack($weight) {
    font-family: $font-family;
    font-size: $font-size-html;
    font-weight: $weight;
    color: $color-font-global;
};

@mixin flex-control($display, $direction, $wrap, $align, $self, $justify) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    align-items: $align;
    align-self: $self;
    justify-content: $justify;
};

@mixin breakpoint ($width) {
    @media (min-width: $width) {
        @content;
    }    
}

@mixin btn-font {
    font-size: $font-size-btn;
    font-weight: 600;
    color: $color-font-white;
}