@use './typography' as *;
@include font-regular;
@include font-demi;
@include font-bold;

// Global Fonts
$font-family: 'Avenir Next';
$font-size-html: 10px;

// Colors
$color-font-global: #323232;
$color-font-white: #FFFFFF;

$color-btn-upload: #0095FF;
$color-btn-comment: #0095FF;

$color-input-outline: #0095FF;
$color-input-border: #E1E1E1;
$color-input-background: #FAFAFA;

$color-textarea-outline: #0095FF;
$color-textarea-border: #E1E1E1;
$color-textarea-background: #FAFAFA;