@use './typography' as *;
@include font-regular;
@include font-demi;
@include font-bold;

// Global Font
$font-family: 'Avenir Next';
$font-size-html: 10px;

// Font Sizes
$font-size-input: 1.4rem;
$font-size-btn: 1.4rem;

// Colors
$color-font-global: #323232;
$color-font-white: #FFFFFF;

$color-btn: #0095FF;

$color-input-outline: #0095FF;
$color-input-border: #E1E1E1;
$color-input-background: #FAFAFA;