@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.comments {
    @include flex-control(flex,column,initial,center,initial,initial);
    padding: 0 1.6rem;
    width: 100%;

    &__title {
        margin: 0 0 3.2rem;
        width: 100%;
        font-size: 1.6rem;
        font-weight: 600;
    }

    &__new {
        @include flex-control(flex,initial,initial,initial,initial,initial);
        border-bottom: solid 0.1rem #E1E1E1;
        padding: 0 0 2.4rem;
        width: 100%;
    }

    &__image {
        margin: 2rem 0 0;
        border-radius: 100%;
        width: 4.8rem;
        height: 4.8rem;
        object-fit: cover;
        object-position: left;
    }

    &__form {
        @include flex-control(flex,column,initial,initial,initial,initial);
        margin: 0 0 0 1.8rem;
        width: calc(100% - 6.6rem);

        .comment {
            @include flex-control(flex,initial,initial,center,initial,center);
            margin: 0 0 0 auto;
            border-radius: 0.4rem;
            border: none;
            width: calc(22.2rem - (62 / 448) * (100vw - 32rem));
            height: 4.8rem;
            background-color: $color-btn;
            outline-color: $color-input-outline;

            &__text {
                @include btn-font;
            }
        }
    }

    &__entry {
        @include flex-control(flex,column,initial,initial,initial,initial);
        width: 100%;
    }

    &__label {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 600;
        line-height: 2rem;
        color: #AFAFAF;
    }

    &__input {
        margin: 0 0 1.6rem;
        border: solid $color-input-border 0.2rem;
        border-radius: 0.4rem;
        outline-color: $color-input-outline;
        padding: calc(1.6rem - (2 / 448) * (100vw - 32rem)) 1.2rem;
        width: 100%;
        height: calc(9.6rem - (48 / 448) * (100vw - 32rem));
        background-color: $color-input-background;
        font-size: $font-size-input;   
        resize: none;
        overflow: hidden;
    }

    &__cards {
        @include flex-control(flex,initial,initial,initial,initial,initial);
        padding: 2.4rem 0;
        border-bottom: solid 0.1rem #E1E1E1;
        width: 100%;

        .card {
            
            &__image-main {
                border-radius: 100%;
                background-color: #E1E1E1;
                width: 4.2rem;
                height: 4.2rem;
            }

            &__info-main {
                margin: 0 0 0 1.2rem;
                width: calc(23.4rem + (390 / 448) * (100vw - 32rem));
            }

            &__header-main {
                @include flex-control(flex,initial,initial,initial,initial,space-between);
                margin: 0 0 0.8rem;
            }

            &__name-main {
                font-size: 1.4rem;
                font-weight: 600;
            }

            &__timestamp-main {
                font-size: 1.4rem;
                color: #AFAFAF;
            }

            &__comment-main {
                font-size: 1.4rem;
                line-height: 2.2rem;
            }
        }
    }

    @include breakpoint(768px){
        padding: 0 2.4rem;

        &__form {
            @include flex-control(flex,initial,initial,flex-end,initial,initial);
            margin: 0 0 0 2rem;
            width: calc(100% - 6.8rem);
    
            .comment {
                margin: 0 4rem 0 1.6rem;
                width: 16rem;
            }
        }
    
        &__entry {
            width: calc(44rem + (384 / 360) * (100vw - 76.8rem));
        }

        &__input {
            margin: 0;
            padding: 1.4rem 1.2rem;
            height: 4.8rem;
        }
    
        &__cards {
    
            .card {
    
                &__info-main {
                    margin: 0 0 0 2rem;
                    width: 62.4rem;
                }
    
                &__header-main {
                    @include flex-control(flex,initial,initial,initial,initial,initial);
                }
    
                &__name-main {
                    font-size: 1.6rem;
                    margin: 0 1.2rem 0 0;
                }
            }
        }
    }

    @include breakpoint(1128px) {
        margin: 0;
        padding: 0 0 4rem;
        width: 71.2rem;

        &__title {
            margin: 0 0 1.6rem;
        }

        &__form {

            .comment {
                margin: 0 3.2rem 0 1.6rem;
            }
        }

        &__entry {
            width: 43.6rem;
        }

        &__cards {
            padding: 1.95rem 0;
        }

    }
}