@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.next-video {
    @include flex-control(flex, column, initial, center, initial, initial);
    width: 100%;

    @include breakpoint(1128px) {
    @include flex-control(flex, column, initial, initial, initial, initial);
    padding: 0 0 0 2.4rem;
    width: 36.8rem;
    }
}