@use '../../partials/variables' as *;
@use '../../partials/mixins' as *;

.next-video {
    @include flex-control(flex, column, initial, center, initial, initial);
    padding: 4rem 1.6rem;
    width: 100%;

    &__title {
        margin: 0 0 1.6rem;
        width: 100%;
        font-size: $fs-title-aside;
        font-weight: 600;
        color: $color-title-aside;
    }
    

    @include breakpoint(768px) {
        padding: 4rem 0 4rem 2.4rem;
    }

    @include breakpoint(1128px) {
        @include flex-control(flex, column, initial, initial, initial, initial);
        width: 36.8rem;
    }
}